 <head>
    <title>CIS196 Homework2 by Ying Pan</title>
    <style type="text/css" media="screen">
      body {
        margin: 0;
		margin-left: 50px;
        margin-bottom: 25px;
        padding: 0;
        background-color: #E3B3C6;
        font-family: "Lucida Grande", "Bitstream Vera Sans", "Verdana";
        font-size: 13px;
        color: #333;
      }

      h1 {
        font-size: 28px;
        color: #000;
      }

      a  {color: #03c}
      a:hover {
        background-color: #9D25CC;
        color: white;
        text-decoration: none;
      }
	  
	  .largeinput {
		width: 500px;
		height: 200px;
		margin: 10px;
	  }
	  .smallinput{
		margin:10px;
	  
	  }

    </style>
    <script type="text/javascript">
    </script>
  </head>
  
<h1>New post</h1>
 
<%= render 'form' %>
 
<%= link_to 'Back', :action => :index %>
